<style>
h2{
  margin-left: 15px;
}
form{
  margin-left: 15px;
  margin-bottom: 10px
}
.title{
  margin-left: 43px;
  width: 25%
}
.note{
  margin-left: 39px;
  width: 25%;
  height: 100px
}

.calories{
  width: 12%;
  max-height: 40px
}
.button{
  margin-left: 2px;
  max-height: 35px
}

.category{
  margin-left: 3px;
  width: 25%
}

.category-in{
  margin-left: 10px;
  width: 55%
}

.sub-btn{
margin-left: 85px; 
width: 20%;
}

.drop-dwn{
width: 25%;
height: 35px
}
.pls-btn{
  margin-left: 2px;
  max-height: 35px
}
</style>
<form #categoryForm="ngForm" (ngSubmit)="addWorkout(categoryForm)">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Add Workout</h2>
  </div>
<div class="panel-body">
  <label for="title">Title:</label>
  <input id="title" class="title" type="text" [(ngModel)]="title" name="title"><br><br>
  <label for="note">Note:</label> 
  <input id="note" class="note" type="text" [(ngModel)]="note" name="note"><br><br>
  <label for="calvalue">Calories Burnt Per Min:</label>
  <input id="calvalue" class="calories" type="text" [(ngModel)]="calvalue" name="calvalue" (change)="0" aria-label="Calories Burnt" aria-describedby="button-addon2" size="10">
  <button (click)="incrementCalories()" class="btn btn-secondary button" type="button" id="button-addon2">+</button>
  <button (click)="decrementCalories(calories.value)" class="btn btn-secondary button" type="button" id="button-addon2">-</button><br>
  <br>
  <div class="form-group">
  <label for="category">Category:</label>
    <select  id="category" [(ngModel)]="category" name="category" class="drop-dwn">
      <option value="default">--Select a category--</option>
      <option class="form-control" *ngFor="let category of categories">{{category.category_name}}</option>>
    </select>
    <button (click)="addWorkout(title.value)" class="btn btn-secondary pls-btn" type="button" id="button-addon2">+</button>
  </div>
  </div>
  <br>
<div class="panel-footer">
  <input class="sub-btn" type="submit" value="Add Workout">
</div>
</div>
</form>
{{categoryForm.value | json}}
